name: Build Linux App

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable Linux desktop
        run: flutter config --enable-linux-desktop
        working-directory: client

      - name: Install dependencies (GTK)
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev

      - name: Flutter pub get
        run: flutter pub get
        working-directory: client

      - name: Build release
        run: flutter build linux --release
        working-directory: client

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-build-${{ github.ref_name }}
          path: client/build/linux/x64/release/bundle/
