name: Build Linux App

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable Linux desktop
        run: flutter config --enable-linux-desktop
        working-directory: client

      - name: Install dependencies (GTK)
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev

      - name: Flutter pub get
        run: flutter pub get
        working-directory: client
        
      - name: Run Flutter tests
        run: flutter test
        working-directory: client

      - name: Build release
        run: flutter build linux --release
        working-directory: client

      - name: Sanitize branch name
        id: sanitize
        run: echo "SANITIZED_REF=${GITHUB_REF_NAME//\//_}" >> $GITHUB_ENV

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-build-${{ env.SANITIZED_REF }}
          path: client/build/linux/x64/release/bundle/
          
  build-macos:
    runs-on: macos-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable macOS desktop
        run: flutter config --enable-macos-desktop
        working-directory: client

      - name: Flutter pub get
        run: flutter pub get
        working-directory: client

      - name: Run Flutter tests
        run: flutter test
        working-directory: client

      - name: Build macOS release
        run: flutter build macos --release
        working-directory: client

      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-build-main
          path: client/build/macos/Build/Products/Release/
